* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
}
.filter-container {
  display:flex;
  margin: 50px 0;
  justify-content: center;
}

.select-container {
  display: flex;
  margin: 0 10px;
}

.input-container {
  margin-right: 20px;
}

.cards-container {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}

.cards-container img {
  margin-right: 20px;
}

.cards-details button {
  margin-top: 10px;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
}